*~
*.swp
*.cache
*.aux
*.log
*.pdf
*.dvi
*.lof
*.toc
*.pdftex_t
*.out
*.bak
.#*
.panfs.*
*.svg
*.bbl
*.blg
*.lot
*.exo
/build
/install
/DTKData
/doc/browser/doc/html/
/doc/doxygen/html/
.ycm_extra_conf.py
.ycm_extra_conf.pyc
