[submodule "data"]
	path = data
	url = https://github.com/ORNL-CEES/DTKData
[submodule "arborx"]
	path = packages/Search
	url = ../../arborx/arborx.git
[submodule "cmake/tribits"]
	path = cmake/tribits
	url = https://github.com/tribitspub/tribits
