.header 
{ 
   font-family: Verdana, Arial, sans-serif; 
   color: #661F08; 
   font-size: 20px; 
   text-align: center;
   font-weight: bold;
}

.menuitems
{ 
   font-family: Verdana, Arial, sans-serif; 
   color: #661F08; 
   font-size: 14px; 
   text-align: center;
   font-weight: bold;
}

.menuitems:link
{ 
   color: #661F08; 
}
.menuitems:hover
{
    color: blue;
}

HR 
{
   height: 2px;
   width: 90%;
   color: #661F08; 
}

DT
{
   font-family: Verdana, Arial, sans-serif; 
   color: #661F08; 
}

.footer
{
   font-family: Verdana, Arial, sans-serif; 
   font-size: 8pt;
}

TH.nemesis
{
   font-family: Verdana, Arial, sans-serif; 
   font-size: 10pt;
   text-decoration: underline;
   color: #661F08; 
}

TD.nemesis
{
   font-family: Verdana, Arial, sans-serif; 
   background-color: #f2f2ff;
}

TD
{
   background: white;
   font-family: Verdana, Arial, sans-serif; 
   font-size: 10pt;
}

<!-- Doxygen default values -->

CAPTION { font-weight: bold }
A.qindexRef {}
A.el { text-decoration: none; font-weight: bold }
A.elRef { font-weight: bold }
A.code { text-decoration: none; font-weight: normal; color: #4444ee }
A.codeRef { font-weight: normal; color: #4444ee }
A:hover
{ 
   text-decoration: none; 
   background-color: #f2f2ff 
   color: red;
}
DL.el { margin-left: -1cm }
DIV.fragment 
{ 
   padding-top: 12px;
   margin-left:  30px;
   margin-right: 30px;
   border: none; 
   background-color: #eeeeee 
}
DIV.ah { background-color: black; font-weight: bold; color: #ffffff; margin-bottom: 3px; margin-top: 3px }
TD.md { background-color: #f2f2ff; font-weight: bold; }
TD.mdname1 { background-color: #f2f2ff; font-weight: bold; color: #602020; }
TD.mdname { background-color: #f2f2ff; font-weight: bold; color: #602020; width: 600px; }
DIV.groupHeader { margin-left: 16px; margin-top: 12px; margin-bottom: 6px; font-weight: bold }
DIV.groupText { margin-left: 16px; font-style: italic; font-size: smaller }
TD.indexkey { 
   background-color: #eeeeff; 
   font-weight: bold; 
   padding-right  : 10px; 
   padding-top    : 2px; 
   padding-left   : 10px; 
   padding-bottom : 2px; 
   margin-left    : 0px; 
   margin-right   : 0px; 
   margin-top     : 2px; 
   margin-bottom  : 2px  
}
TD.indexvalue { 
   background-color: #eeeeff; 
   font-style: italic; 
   padding-right  : 10px; 
   padding-top    : 2px; 
   padding-left   : 10px; 
   padding-bottom : 2px; 
   margin-left    : 0px; 
   margin-right   : 0px; 
   margin-top     : 2px; 
   margin-bottom  : 2px  
}
FONT.keyword       { color: #008000 }
FONT.keywordtype   { color: #604020 }
FONT.keywordflow   { color: #e08000 }
FONT.comment       { color: #800000 }
FONT.preprocessor  { color: #806020 }
FONT.stringliteral { color: #002080 }
FONT.charliteral   { color: #008080 }

<!-- Overwrite default Doxygen formats -->

.qindex
{
   font-family: Verdana, Arial, sans-serif; 
   color: #661F08; 
   font-size: 12px; 
   text-align: center;
   font-weight: bold;
}
.qindex:link   
{ 
   color: #661F08;
}
.qindex:hover 
{ 
   color: blue;
}

H1
{
   font-family: Verdana, Arial, sans-serif; 
   color: #661F08; 
   font-size: 20px; 
   text-align: center;
   font-weight: bold;
}

H2
{
   font-family: Verdana, Arial, sans-serif; 
   color: #661F08;
   font-size: 18px; 
   text-align: left;
   font-weight: bold;
   margin-left: 0px;
}

H3
{
   font-family: Verdana, Arial, sans-serif; 
   color: #336699; 
   font-size: 14px; 
   font-weight: bold;
}

BODY 
{ 
   background: white;
   font-family: Verdana, Arial, sans-serif; 
   font-size: 10pt;
}


.question
{
   font-style: italic;
   color: #336699;
}


.note
{ 
}

dt.note
{
   font-weight: bold;
}
